/* entire page css */
*{
  font-family: Arial, Helvetica, sans-serif;
}
p{
  font-size:14pt;
}
.maincontent {
  width:80%;
  margin-left:auto;
  margin-right:auto;
}

/* header css */
nav > ul {
  list-style-type: none;
  justify-content: space-around;
  list-style-type: none;
  display: inline-flex;
  width:90%;
}

nav, .navbar a{
  background-color: #ef7c8e;
  padding-top:2px;
  padding-bottom:2px;
  align-content:center;
  color:white;
  font-weight:bolder;
  text-decoration: none;
  font-size: 20px;
  width:100%;
}
.logo {
  display: block;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
}

/* button */
.yellowbutton{
  display:flex;
  width:fit-content;
  align-items:center;
  justify-content:center;
  background-color:#FEEDAA;
  color:black;
  padding:5px;
  text-decoration:none;
  margin:5px;
  font-weight:bold;
  border-radius: 10%;
  font-size: 16pt;
}

/* footer */
footer{
  display:inline-flex;
  justify-content:space-around;
  flex-wrap:wrap;
  width:100%;
  grid-template-columns:1fr 1fr 1fr;
  background-color:#616D69;
  margin-top:20px;
  color:white;
  align-items:baseline;
}
footer a{
color:white;
text-decoration:none;
}
footer h2{
  text-decoration:underline;
}